html
{
    zoom: 180%;
}

body
{
    --backgroundColor: #cefdf2;
    --containerColor: antiquewhite;
    --displayColor: #fbfeda;

    --buttonColor: #f0ffc1;
    --buttonBorderColor: var(--buttonColor);

    --displayTextColor: #fdafbd;
    --buttonTextColor: var(--displayTextColor);
    --buttonTextHoveredColor: #0d00c4;
    --displayTextBurnColor: #ff3ff7;
    --buttonTextActiveColor: #ff00dd;

    --shadowColor: #fcc9d2;

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, #fd7890, #20f8ff);
    background-attachment: fixed;
    /*background-color: var(--backgroundColor);*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    /*background-image: linear-gradient(-90deg, purple, blue); */
    color: var(--displayTextColor); 
    display: flex;
    flex-direction: column;
    background-color: var(--containerColor);
    box-shadow: 7px 7px 8px 3px  #ffcfee;
    border-radius: 12px;
    padding: 10px 15px 10px 15px;
    width: 150px;
    height: 260px;
    margin: 50px auto;
}

.display
{
    display: flex;
    background-color: var(--displayColor);
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px;
    font-size: 18pt;
    width: auto;
    height: 40px;
    padding: 6px;
    margin: 5px 0 15px;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

button
{
    margin: 1px;
    text-align: center;
    transition: color 3s, transform 1.5s;
}

.button-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
    grid-template-areas:
    "seven eight nine plus"
    "four five six minus"
    "one two three mult"
    "decim naught backspace divide"
    "clear clear . equals";
}

.button-container > button
{
    color: var(--buttonTextColor);
    background-color: var(--buttonColor);
    border: 1px solid var(--buttonBorderColor);
    border-radius: 100%;
    padding: 10px;
    margin: 0;
}

button:hover
{
    color: var(--buttonTextHoveredColor);
    transition: color 0.1s, transform 0.5s;
    transform: scale(1.2);
}

button:active
{
    color: var(--buttonTextActiveColor);
    transform: scale(1.2);
}

button:focus
{
    outline: none;
}

.clicked 
{
    transition: transform 1s, color 0.1s;
    color: var(--buttonTextActiveColor)!important;
}

.done
{
    transition: transform 1s, color 2s!important;
}

.white
{
    color: var(--displayTextColor);
    transition: color 1s, transform 1s;
}

.white:hover
{
    transform: scale(1.2);
    transition: transform 0.1s, color 1s;
}

.burn 
{
    color: var(--displayTextBurnColor)!important;

    transition: color 3s;
}

.large
{
    transform: scale(1.05);
    transition: transform 0.2s;
}


.zero
{
    grid-area: naught;
}

.one 
{
    grid-area: one;
}

.two
{
    grid-area: two;
}

.three
{
    grid-area: three;
}

.four
{
    grid-area: four;
}

.five
{
    grid-area: five;
}

.six
{
    grid-area: six;
}

.seven
{
    grid-area: seven;
}

.eight
{
    grid-area: eight;
}

.nine
{
    grid-area: nine;
}

.add
{
    grid-area: plus;
}

.subtract
{
    grid-area: minus;
}

.multiply
{
    grid-area: mult;
}

.divide
{
    grid-area: divide;
}

.decimal
{
    grid-area: decim;
}

.backspace
{
    grid-area: backspace;
}

.equals
{
    grid-area: equals;
    padding: 10px;
    border-radius: 100%;
}